body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #020283, #000000);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 97vh;
    width: 98vw;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-height: 50px;
}

/*.placar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
}*/

.mesa {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.jogador .cartas {
    display: flex;
    gap: 10px;
}

.carta {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    background-color: whitesmoke
}


.jogador1 { top: 10%; left: 20%; transform: translateX(-50%); }
.jogador2 { top: 50%; left: 10%; transform: translateY(-50%); }
.jogador3 { top: 20%; right: 10%; transform: translateY(-50%); }
.jogador4 { top: 42%; right: 0%; transform: translateX(-50%); }
.jogador5 { bottom: 10%; left: 50%; transform: translate( -50%); }


.carta1{
    border: 1px solid #ff0051;
}

.carta2{
    border-color: 1px solid #006eff;
}

.header-element-1 img{
    aspect-ratio: 40/55;
    max-height: 70px;
    margin-left: 25px;
}

.header-element-2{
    display: flex;
    gap: 10px;
    margin-right: 25px;
}